/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap.scss';
:root {
 --textColorDark: #275277;
 --headerColorDark: #15334f;
}
body{
 background: #eeeaea;
}
